body {
  position: relative;
}
.signin_button {
  background: #00fa9a;
  width: 200px;
}
.center_box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 300px;
  height: 200px;
  text-align: center;
}
.message_box p {
  color: white;
  font-size: x-large;
}
