/* Animation CSS */

/* Animation Schedule Card */
.schedule_card-appear {
  opacity: 0.1;
  transform:translateX(20%) scale(.95,.95);
}
.schedule_card-appear.active {
  opacity: 1.0;
  transform:translateX(0) scale(1,1);
}
.schedule_card-enter {
  opacity: 0.1;
  transform:translateX(20%) scale(.95,.95);
}
.schedule_card-enter.schedule_card-active {
  opacity: 1.0;
  transform:translateX(0) scale(1,1);
}
.schedule_card-leave {
  opacity: 1.0;
  transform:translateX(0) scale(1,1);
}
.schedule_card-leave.schedule_card-active {
  opacity: 0.1;
  transform:translateX(30%) scale(.95,.95);
}

/* Animation Calendar */
.calendar-appear {
  opacity: 0.1;
}
.calendar-appear.active {
  opacity: 1.0;
}
